# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../../:\Users\ADRIAN\Desktop\Semestre_2021-1\SO\Parcial1Lab\LabSO-P1-adriantor-jorgeor\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
